.advisors-section {
  padding: 2rem;
  background-color: #ffffff;
}

.section-title {
  font-style: italic;
  color: #1e293b;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 42px;
}

.advisors-grid {
  display: flex;
  gap: 26px;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.advisor-card {
  border-radius: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #ffffff;
  transition: transform 0.4s ease;

}
/* 
    position: relative;
    border: 1px solid #455a64b8;
     */

.advisor-card:hover {
  transform: scale(1.01);
  box-shadow: 2px 2px 15px 4px #a19f9f
}

.advisor-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.advisor-content {
  padding: 1rem;
  text-align: center;
  min-width: 357px;
}

.advisor-name {
  font-size: 1.1rem;
  font-weight: bold;
  color: #1f2937; /* gray-800 */
  margin-bottom: 0.25rem;
}

.advisor-title {
  font-size: 0.9rem;
  color: #4b5563; /* gray-600 */
  margin-bottom: 0.5rem;
  margin: 7px auto;
}

.advisor-phone,
.advisor-email {
  font-size: 0.85rem;
  color: #2563eb; /* blue-600 */
  margin-bottom: 0.25rem;
  display: block;
  text-decoration: underline;
  margin: 2px 3px;
}

.phone_icon{
  width: 16px;
  height: 16px;
}

a{
  color: #0D78DB;
}