.comment-container {
  margin: 40px 50px;
  font-size: 14px;
  }
  
  .add-comment {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    position: relative;
    background-color: #fff;
  }
  
  .add-comment textarea {
    width: 100%;
    min-height: 100px;
    resize: none;
    padding: 8px;
    margin-bottom: 8px;
    border: none;
    /* font-size: 14px; */
  }
  
  .rating {
    text-align: right;
    margin-bottom: 8px;
    position: absolute;
    top: 3px;
    right: 20px;
  }
  
  .star {
    /* font-size: 20px; */
    color: #ccc;
    cursor: pointer;
  }
  
  .star.filled {
    color: #f59e0b;
  }
  
  .post {
    background-color: #43A547;
    color: white;
    border: none;
    padding: 7px 37px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    position: absolute;
    right: 8px;
    top: 111px;
    right: 24px;
  }
  
  .comment {
    background: #fff;
    padding: 12px 16px;
    margin-top: 20px;
    border-radius: 6px;
  }
  
  .comment-header {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .user-icon {
    font-size: 18px;
  }
  
  .date {
    /* font-size: 12px; */
    color: #888;
  }
  
  .comment-text {
    margin-top: 8px;
    /* font-size: 12px; */
    width: 55%;
    text-align: center;
  }