.cover-container{
  display: flex;
    padding: 29px;
    justify-content: space-between;
    padding: 29px 60px;
}

.cover-text {
  flex: 1;
    padding-right: 40px;
    margin-top: 121px;
    max-width: 45%;
}

.cover-text h1 {
  font-size: 51px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #222;
  text-align: center;
}

.cover-text p {
  font-size: 26px;
  color: #555;
  line-height: 1.4;
  margin-bottom: 20px;
  text-align: center;
}

.enter-button {
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 39px;
    position: relative;
    z-index: 111;
    color: black;
    border: 1px solid;
    padding: 14px 51px;
    font-size: 22px;
}

/* .enter-button:hover{
  transition-delay: 2s;
} */
 .cont{
  position: relative;
 }
.icon111{
  transform: rotateZ(180deg);
    position: absolute;
    bottom: -28px;
    left: 58px;
    animation: up-and-down 0.7s ease infinite;
}
@keyframes up-and-down{
  0%,100%{
    top: +140px;
  }
  50%{
    top: +100px;
  }
}
.enter-button::before{
  content: " ";
  width: 8px;
  height: 8px;
  background:#3ca14b ;
  position: absolute;
  right: -20px;
  top: calc(50% - 4px);
  border-radius: 50%;
  animation: right-to-left 4s linear infinite;
  z-index: -22;
}

.enter-button::after{
    content: " ";
    width: 8px;
    height: 8px;
    background:#3ca14b ;
    z-index: -22;
    position: absolute;
    left: -20px;
    top: calc(50% - 4px);
    border-radius: 50%;
    animation: left-to-right 4s linear infinite;
}
@keyframes right-to-left {
  50%{
    right: 0px;
    width: 50%;
    height: 50%;
  }
  100%{
    right: 0px;
    width: 50%;
    height: 100%;
    border-radius: 0px;
    top: 0px;
    color: white;
  }
}
@keyframes left-to-right {
  50%{
    left: 0px;
    width: 50%;
    height: 50%;
  }
  100%{
    left: 0px;
    width: 50%;
    height: 100%;
    border-radius: 0px;
    color: white;
    top: 0px;
  }
}
.enter-button:hover::before{
  z-index: -1;
  animation: right-to-left 2.5s;
}
.enter-button:hover::after{
  z-index: -1;
  animation: left-to-right 2.5s;
}

.cover-images {
  display: flex;
  gap: 10px;
}

.cover-images img {
  width: 192px;
  height: 247px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  margin: 15px;
}
.div2,.div3{
  display: flex;
  flex-direction: column;
}

.div1{
  margin-top: 286px;
}

.div2{
  margin-top: 113px;
}

.div3{
  margin-top: 51px;
}
@media (max-width: 760px) {
  .cover-images{
    display: none;
  }
  .cover-text{
    max-width: 100%;
  }
}